ion-content {
  background: linear-gradient(to bottom, #ffefba, #ffffff);

  
}

h2{
  text-align: center;
}

p {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
